<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>{{user["Nombre"]}}</h1>
        <div class="superior-derecha">
            <form action="/" method="get">
                <button>SALIR</button>
            </form>
        </div>
    </div>
    <div class="mensaje">
        <p>{{mensaje}}</p>
    </div>
    <div>
        <h2>SALDO ACTUAL</h2>
        <h3>${{user["Saldo"]}}</h3>
    </div>
    <div class="acciones">
        <fieldset class="fieldset-main">
            <legend>MOVIMIENTOS</legend>
            <form action="/cuenta/{{user['Cuenta']}}" method="post" class="form-container">
                <label for="Cantidad">CANTIDAD</label>
                <input
                    required
                    id="Cantidad"
                    name="Cantidad"
                    type="number"
                >
                <fieldset class="fieldset-movimientos">
                    <legend>Movimiento</legend>
                    <input type="radio" id="Deposito" name="Movimiento" value="D" checked/>
                    <label for="Deposito">Deposito</label>
                    <input type="radio" id="Retiro" name="Movimiento" value="R"/>
                    <label for="Retiro">Retiro</label>
                </fieldset>
                <button>SUBMIT</button>
            </form>
        </fieldset>

        <fieldset class="fieldset-main">
            <legend>TRANSFERENCIA</legend>
            <form action="/cuenta/{{user['Cuenta']}}" method="post" class="form-container">
                <label for="Cantidad">CANTIDAD</label>
                <input
                    required
                    id="Cantidad"
                    name="Cantidad"
                    type="number"
                >
                <label for="CuentaDestino">CUENTA</label>
                <input
                    required
                    id="CuentaDestino"
                    name="CuentaDestino"
                    type="text"
                >
                <button>SUBMIT</button>
            </form>
        </fieldset>
    </div>
</body>
</html>